
.chat-container {
  scrollbar-width: none;
}

#mainTitle {
    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;  
    font-size:40px;
}

#chatContainerId {
  max-height: 22rem; /* Limit the container height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  word-wrap: break-word; /* Break words when they are too long */
}

#chatContainerId > div {
  word-break: break-word; /* Ensure long words break properly */
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
}

.animate-flow {
  animation: flow 1.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}

@keyframes flow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.wave {
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}